@import "tailwindcss";

@theme {
  --color-text: #ffffff;
  --color-error: #980000;
  --color-paper: #232323;
  --color-primary: #009688;
  --color-background: #000;
  --color-primary-contrast: #ffffff;
}

html[light] {
  --color-text: #000;
  --color-error: #980000;
  --color-paper: #fff;
  --color-primary: #009688;
  --color-background: #f2f2f2;
  --color-primary-contrast: #ffffff;
}

html,
body {
  @apply bg-background text-text w-screen h-screen underline-offset-4;
}

a {
  @apply hover:underline active:opacity-50 transition-opacity
}